* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row-100 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.col-2 {
    width: calc(50% - 20px);
    display: flex;
    padding: 20px;

}
.between {
    display: flex;
    

}

